.LoginPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.loginTitle{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.loginInput{
  display: flex;
  flex-direction: column;
}

.loginEmail, .loginPassword{
  font-size: 17px;
  width: 254px;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
  padding-left: 13px;
  margin-bottom: 12px;
}

.loginBtn{
  width: 254px;
  height: 42px;
  color: white;
  font-size: 17px;
  background-color: #00A9FF;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
  margin-top: 10px;
}

.loginSep{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.customHr {
  width: 100px;
  margin: 12px;
  border-bottom: 1px solid #C4C4C4;
}

.orText{
  font-size: 13px;
  color: #8B8B8B;
  font-weight: 400;
}