.hospitalPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.classification{
  display: flex;
  justify-content: space-between;
}

.hospitalLocation, .hospitalSymptom{
  display: flex;
  flex: 1;
  margin: 0 20px;
}

.locationSpan, .symptomSpan{
  display: flex;
  background-color: #D2F7FF;
  color: #495057;
  border-radius: 30px;
  width: 50px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.locationSelect, .symptomSelect{
  width: 100px;
  margin-left: 10px;
}