.hospitalPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.classification{
  display: flex;
  justify-content: space-between;
}

.hospitalLocation, .hospitalSymptom{
  display: flex;
  flex: 1;
  margin: 0 20px;
}

.locationSpan, .symptomSpan{
  display: flex;
  background-color: #D2F7FF;
  color: #495057;
  border-radius: 30px;
  width: 50px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.locationSelect, .symptomSelect{
  width: 100px;
  margin-left: 10px;
}

.hospitalRecommend{
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*hospitalList와 Item*/
.hospitalList {
  display: grid;
  grid-template-columns: repeat(4, 0fr);

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 0fr);
  }
}

.hospitalItem{
  width: 400px;
  height: 360px;
  border-radius: 15px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 40px;
}

.hospitalInfo{
  position: relative;
}

.hospitalMainImg{
  width: 400px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 15px;
}

.hospitalEvalution{
  display: flex;
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: red;
  color: white;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.hospitalName{
  font-size: 16px;
  font-weight: 700;
  margin: 7px 0 0 10px;
}

.hospitalAddress{
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0 0 10px;
}
