.hospitalDetailPage{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.detailClassification{
  display: flex;
  margin: 0 auto;
}

.detailhospitalLocation, .detailhospitalSymptom{
  display: flex;
  margin: 0 20px;
}

.detaillocationSpan, .detailsymptomSpan{
  display: flex;
  background-color: #D2F7FF;
  color: #495057;
  border-radius: 30px;
  width: 50px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.detaillocationEx, .detailsymptomEx{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.detailhospitalInfo{
  margin: 20px 446px;
}

.detailinfo{
  display: flex;
  justify-content: space-between;
}

.detailName{
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.detailLike{
  display: flex;
  flex-direction: column;
}

.likeImg{
  width: 30px;
  height: 30px;
}

.likeNum{
  text-align: center;
  margin-top: 3px;
}