.editorTitle{
  margin: 20px 0 10px;
}

.editorTitleSpan{
  font-size: 18px;
  font-weight: 600;
}

.reviewInput{
  display: flex;
}

.reviewTextarea{
  width: 450px !important; 
  height: 100px !important;
  resize: none;
}

.reviewSymptomEval{
  margin-left: 5px;
}

.reviewsymptomSelect{
  width: 180px;
  height: 30px;
}

.reviewEval{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.reviewEvalTitle{
  margin-right: 10px;
}

.reviewEvalInput{
  width: 50px;
  height: 25px;
}

.reviewEvalSpan{
  font-size: 17px;
  margin: 0 5px;
}

.reviewEnrollBtn{
  background-color: #D2F7FF;
  width: 180px;
  height: 25px;
  border-radius: 5px;
}

/*ReviewList & ReviewItem*/
.ReviewList{
  margin-top: 30px;
}

.reviewListTitle{
  font-size: 18px;
  font-weight: 600; 
  margin-bottom: 10px;
}

.ReviewItem{
  background-color: #CED1D9;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.reviewUserName{
  font-size: 17px;
  font-weight: 500;
}
